SYSFS{idVendor}=="0403", SYSFS{idProduct}=="cb48", MODE="0666", SYMLINK+="novint_falcon_%k"
SUBSYSTEM=="usb", ACTION=="add", ENV{DEVTYPE}=="usb_device", SYSFS{idVendor}=="0403", SYSFS{idProduct}=="cb48", NAME="bus/usb/$env{BUSNUM}/$env{DEVNUM}", MODE="0666"
