ATTR{idVendor}=="0403", ATTR{idProduct}=="cb48", MODE="0666", SYMLINK+="novint_falcon_%k", GROUP="plugdev"
SUBSYSTEM=="usb", ACTION=="add", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="0403", ATTR{idProduct}=="cb48", MODE="0664", GROUP="plugdev"
